@{
    ViewData["Title"] = "Section Management Page";
}

<div>
    <h1>Gestion des sections</h1>
    <a class="btn btn-primary" asp-controller="SectionsManagement" asp-action="Create">Ajouter une nouvelle section</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var section in Model)
                {
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td>
                            <a class="btn btn-warning" asp-controller="SectionsManagement" asp-action="Edit" asp-route-id="">Modifier</a>
                            <a class="btn btn-danger" asp-controller="SectionsManagement" asp-action="Delete" asp-route-id="">Supprimer</a>
                        </td>
                    </tr>
                }
            
            <!--
                <tr>
                    <td colspan="3">Aucune section trouvé</td>
                </tr>
            -->
        </tbody>
    </table>
</div>
