@{
    ViewData["Title"] = "Home Page Admin";
}

<div>
    <h1>ADMIN</h1>
    <a asp-area="Admin" asp-controller="SectionsManagement" asp-action="Index">GESTION DES SECTIONS</a>
    <a asp-area="Admin" asp-controller="MembersManagement" asp-action="Index">GESTION DES MEMBRES</a>
</div>
