@{
    
}

<div>
    <h1>ADMIN</h1>
    <a asp-area="" asp-controller="Sections" asp-action="SectionsManagement">GESTION DES SECTIONS</a>
    <a asp-area="" asp-controller="Members" asp-action="MembersManagement">GESTION DES MEMBRES</a>
</div>
