@{
    ViewData["Title"] = "Section Management Page";
}

<div>
    <h1>Gestion des sections</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Section1</td>
                <td>
                    <ul>
                        <li>Ajouter</li
                        <li>Modifier</li>
                        <li>Supprimer</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
